*volumetricMeshFilename
./cubeLong1300.veg

*solver
implicitBackwardEuler

*deformableObjectMethod
CLFEM

*renderingMeshFilename
./cubeLong1300.surface.obj

*lightingConfigFilename
./cubeLong1300.lighting

*cameraRadius
4.0

*cameraLongitude
-60.0

*cameraLattitude
20.0

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
0.0

*timestep
0.01

*dampingMassCoef
50.0

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
30.0

*frequencyScaling
1.0

*addGravity
1

*g
-10.0

*fixedVerticesFilename
./cubeLong1300.fixed.bou

*syncTimestepWithGraphics
0

*renderWireframe
0

# One-click Experiment 1 parameters (match your solver config)
*exp1_settleSteps
120

*exp1_dragSteps
240

*exp1_holdSteps
240

*exp1_forceInfluenceRadius
0.6

*exp1_sweepAccel1
800

*exp1_sweepAccel2
1500

*exp1_sweepAccel3
2000

*exp1_resetAfterFinish
1

*exp1_pbdIterationsFast
30

*exp1_pbdIterationsReference
150

*exp1_isotropicE
1e6

*exp1_isotropicNu
0.3
