*volumetricMeshFilename
./liver_HD_Low.veg

*solver
implicitBackwardEuler

*deformableObjectMethod
CLFEM

*renderingMeshFilename
./liver_HD_Low.surface.obj

*lightingConfigFilename
./liver_HD_Low.lighting

*cameraRadius
6.0

*focusPositionX
-0.242644757

*focusPositionY
0.087743849

*focusPositionZ
0.820112944

*timestep
0.01

*dampingMassCoef
10.0

*dampingStiffnessCoef
0.01

*deformableObjectCompliance
30.0

*frequencyScaling
1.0

*fixedVerticesFilename
./liver_HD_Low.fixed.bou

*syncTimestepWithGraphics
0

*renderWireframe
0

# Experiment 1 parameters (optimized for speed)
*exp1_settleSteps
60

*exp1_dragSteps
120

*exp1_holdSteps
120

*exp1_forceInfluenceRadius
0.6

*exp1_sweepAccel1
800

*exp1_sweepAccel2
1500

*exp1_sweepAccel3
2000

*exp1_resetAfterFinish
1

*exp1_pbdIterationsFast
1

*exp1_pbdIterationsReference
2

*exp1_isotropicE
1e6

*exp1_isotropicNu
0.3

*numInternalForceThreads
8

*numSolverThreads
8
