*volumetricMeshFilename
../TetgenFEM/models/liver_target5000.node

*solver
implicitBackwardEuler

*deformableObjectMethod
CLFEM

*renderingMeshFilename
__none

*lightingConfigFilename
./liver_HD_Low.lighting

*cameraRadius
6.0

*focusPositionX
-0.242644757

*focusPositionY
0.087743849

*focusPositionZ
0.820112944

*timestep
0.01

*dampingMassCoef
10.0

*dampingStiffnessCoef
0.01

*deformableObjectCompliance
30.0

*frequencyScaling
1.0

*syncTimestepWithGraphics
0

*renderWireframe
0

*numInternalForceThreads
8

*numSolverThreads
8
